* {
	--main-color: #002043;
	--secondary-color: #2ac28a;
	--terciary-color: #d3b04d;
	margin: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
}

/* CADASTRO */

.cadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../images/banner-img.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.box {
	height: 95vh;
	border-radius: 10px;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}

.card_cadastro2 {
	display: flex;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.frase {
	color: white;
	font-size: x-large;
	list-style: none;
	margin-top: 80px;
}

.card_cadastro2 li {
	margin-bottom: 30px;
	list-style: none;
}

.li_card {
	margin-top: 58px;
}

.card_cadastro2 h2 {
	margin-bottom: 30px;
}
li button {
	color: white;
	background-color: transparent;
	height: 50px;
	width: 150px;
	border-radius: 0 10px 0 10px;
	border: #2ac28a 1px solid;
	margin-left: 100px;
	cursor: pointer;
	transition: 1s ease;
}

li button:hover {
	background: #2ac28a;
	border: #2ac28a 1px solid;
}

.card_cadastro2 ul {
	width: 325px;
}
li input {
	width: 100%;
	height: 35px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	background-color: transparent;
	border-bottom: #2ac28a solid 1px;
	outline: none;
	color: #fff;
	transition: all 0.3s;
}

li input::placeholder {
	color: rgba(255, 255, 255, 0.648);
}

li input:focus {
	background-color: rgb(42, 194, 138, 0.3);
	border-bottom: #2ac28a solid 2px;
}

li input:hover {
	background-color: rgb(42, 194, 138, 0.3);
}

ul {
	color: white;
}

.feito {
	text-align: center;
	justify-content: center;
	color: white;
	margin-top: 40px;
}

.linha {
	width: 300px;
	border-bottom: 1px #2ac28a solid;
	margin-top: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ou {
	text-align: center;
	justify-content: center;
	color: white;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-evenly;
	font-family: "Fredoka", sans-serif;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 999;
	height: 11vh;
	width: 100%;
	font-size: 1.15rem;
	padding: 0 30px;
	background-color: var(--main-color);
}

.nome-empresa {
	color: #2ac28a;
	text-shadow: 1px 1px #d3b04d;
}

.main-nav a:hover,
.login-nav a:hover {
	color: var(--terciary-color);
	text-decoration: underline;
}

/* logo */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	background-color: var(--main-color);
}

.nome-empresa {
	padding-left: 10px;
	font-family: monospace;
	font-size: 2rem;
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 40px;
}

.login-nav {
	display: flex;
	align-items: center;
}

.login-nav ul {
	display: flex;
	list-style-type: none;
	column-gap: 40px;
}

/* FOOTER */

.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient(to right, #111, rgba(17, 17, 17, 0.95));
	height: 150px;
	color: white;
	font-size: 0.8rem;
	bottom: 0;
	width: 98.75vw;
}

.footer-links-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}

.footer-links-container ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	column-gap: 10px;
}

.footer-links-container ul li {
	border-right: 1px solid white;
	padding-right: 10px;
}

.footer-links-container ul li:last-child {
	border-right: none;
}

.footer-endereco-container {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.redes-sociais {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
}

.icons-container {
	display: flex;
	justify-content: space-between;
	column-gap: 25px;
}

.redes-sociais i {
	font-size: 1.8rem;
}
