.nav4 {
	background-color: #d3b04d;
}

/* CADASTRO */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 70%;
	height: 100vh;
}

.cadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2ac28a;
	background: url(../images/fazenda.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.box {
	height: 95vh;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.705);
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px 40px 20px 40px;
}

.card_cadastro2 {
	display: flex;
}

.container {
	height: 73vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frase {
	color: white;
	font-size: x-large;
	list-style: none;
	margin-top: 80px;
}

.card_cadastro2 li {
	margin-bottom: 30px;
	list-style: none;
}

li input::placeholder {
	color: rgba(255, 255, 255, 0.648);
}

li input:focus {
	background-color: rgb(42, 194, 138, 0.3);
	border-bottom: #2ac28a solid 2px;
}

li input:hover {
	background-color: rgb(42, 194, 138, 0.3);
}

.li_card {
	margin-top: 58px;
}

.card_cadastro2 h2 {
	margin-bottom: 30px;
}

li button {
	color: white;
	background-color: transparent;
	height: 50px;
	width: 150px;
	border-radius: 0 10px 0 10px;
	border: #2ac28a 1px solid;
	margin-left: 100px;
	cursor: pointer;
	transition: 1s ease;
}

li button:hover {
	background: #2ac28a;
	border: #2ac28a 1px solid;
}

.card_cadastro2 ul {
	width: 325px;
	text-decoration: white;
}

li input {
	width: 100%;
	height: 35px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	background-color: transparent;
	border-bottom: #2ac28a solid 1px;
	outline: none;
}

ul {
	color: white;
}

.linha {
	width: 300px;
	border-bottom: 1px #2ac28a solid;
	margin-top: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
