.nav1 {
	background-color: #d3b04d;
}

/* DASHBOARD */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 75%;
	padding: 5px 0;
	height: 100vh;
	margin: auto;
}

#dashboardWrapper {
	height: 100vh;
	width: 70%;
	background-color: rgba(187, 187, 187, 0.678);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.dashboardWrapper-box {
	background-color: rgba(85, 85, 85, 0.952);
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 30px;
	width: 350px;
	height: 250px;
}

.dashboardWrapper-box p {
	font-size: 1.5rem;
	text-align: center;
}

.dashboardWrapper-box a {
	font-size: 1.2rem;
	text-align: center;
}

.dashboardWrapper-box a:hover {
	color: #dfdfdf;
	text-decoration: underline;
}

.dashboard-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	width: 100%;
}

#alerta {
	margin-left: 5px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 480px;
	column-gap: 20px;
	text-transform: capitalize;
	background-color: #555;
	border-radius: 10px;
	border: 2px solid #2ac28a;
	height: 60px;
	color: #fff;
	position: relative;
}

#msg_alerta {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	color: #fff;
	width: 100%;
	text-align: center;
	display: none;
}

.alertas-container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.alerta-msg {
	text-align: center;
	width: 100%;
}

.alerta-nomes-container {
	display: flex;
	justify-content: center;
}

.selects {
	display: flex;
	align-items: center;
	column-gap: 5px;
	margin-right: 10px;
}

select {
	padding: 10px 3px;
	color: white;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid #888;
	border-bottom: #2ac28a solid;
	border-width: 2px;
	outline: none;
	font-size: 0.95rem;
}

select option {
	color: black;
}

select:focus {
	border: #2ac28a solid;
}

button {
	margin-left: 20px;
	padding: 5px;
	border-radius: 0 10px;
	border: 2px solid #888;
	background-color: transparent;
	border: 10px 0 10px 0;
	color: white;
	outline: none;
}

button:active {
	border: #2ac28a solid;
}

.graficos-main-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	background-color: rgb(218, 218, 219);
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 0 5px 0 black;
	width: 98%;
	height: 85%;
}

.indicadores-container {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.umidade-container {
	padding: 75px 0 50px;
}

.indicadores-row {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 25px;
}

.indicadores-row h3 {
	text-decoration: underline;
}

.cards-container {
	display: flex;
	column-gap: 25px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100px;
	border-radius: 10px;
	height: 100px;
	box-shadow: 0 0 5px -1px black;
	font-weight: 1000;
}

.cards p {
	text-decoration: underline;
}

.indicador-valores {
	font-weight: 600;
	font-size: 1.5rem;
}

.graficos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(218, 218, 219);
	width: 50%;
	height: 100%;
	border-radius: 10px;
}

.graficos {
	align-self: center;
	width: 100%;
}

#fazendas_select {
	text-transform: capitalize;
}
