.nav1 {
	background-color: #d3b04d;
}

/* DASHBOARD */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	width: 70%;
	padding: 10px 0;
	height: 100vh;
}

.selects {
	width: 99%;
	display: flex;
	align-items: center;
	column-gap: 5px;
	justify-content: flex-end;
}

select {
	padding: 5px;
	color: white;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid #888;
	border-bottom: #2ac28a solid;
	border-width: 2px;
	outline: none;
}

select option {
	color: black;
}

select:focus {
	border: #2ac28a solid;
}

button {
	margin-left: 20px;
	padding: 5px;
	border-radius: 0 10px;
	border: 2px solid #888;
	background-color: transparent;
	border: 10px 0 10px 0;
	color: white;
	outline: none;
}

button:active {
	border: #2ac28a solid;
}

.graficos-main-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	background-color: rgb(218, 218, 219);
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 0 5px 0 black;
	width: 99%;
	height: 90%;
}

.indicadores-container {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.umidade-container {
	padding: 75px 0 50px;
}

.indicadores-row {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 25px;
}

.indicadores-row h3 {
	text-decoration: underline;
}

.cards-container {
	display: flex;
	column-gap: 25px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100px;
	border-radius: 10px;
	height: 100px;
	box-shadow: 0 0 5px -1px black;
	font-weight: 1000;
}

.cards p {
	text-decoration: underline;
}

.indicador-valores {
	font-weight: 600;
	font-size: 1.5rem;
}

.graficos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(218, 218, 219);
	width: 58%;
	height: 100%;
	border-radius: 10px;
}

.graficos {
	align-self: center;
	width: 98%;
}

#fazendas_select {
	text-transform: capitalize;
}
