* {
	--main-color: #002043;
	--secondary-color: #2ac28a;
	--terciary-color: #d3b04d;
	margin: 0;
}

body {
	min-height: 100vh;
	font-family: sans-serif;
	background: #222;
	display: flex;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
}

/* HEADER */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 0;
	font-family: "Fredoka", sans-serif;
	height: 100vh;
	width: 25%;
	font-size: 1.15rem;
	background: linear-gradient(to bottom, #002043, #002043e8);
	border-right: 4px solid #d3b04d;
}

.nome-empresa {
	color: #2ac28a;
	text-shadow: 1px 1px #d3b04d;
}

/* logo */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	background-color: var(--main-color);
}

.nome-empresa {
	padding-left: 10px;
	font-family: monospace;
	font-size: 2rem;
}

/* Usuario Container */

.usuario-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	margin: 40px 0 30px;
}

.usuario-container b {
	font-weight: 1000;
	font-size: 1.25rem;
}

.usuario-container a {
	text-decoration: underline;
	text-underline-offset: 1px;
}

.usuario-container a:hover {
	color: #d3b04d;
}

.usuario-container img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 2px solid #2ac28a;
}

.usuario-nome {
	color: var(--secondary-color);
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	row-gap: 3px;
	padding: 0;
}

.navs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 10px;
	height: 45px;
	width: 300px;
	padding-left: 20px;
	border-radius: 10px;
	text-align: center;
	background-color: #2ac28a;
	color: #002043;
	font-size: 1.25rem;
	font-weight: 700;
	box-shadow: 0 3px 5px -2px #000;
	border: 3px solid #000;
	transition: all 0.1s;
}

.navs i {
	width: 30px;
}

.main-nav a:hover {
	box-shadow: none;
	color: white;
}

.navs:last-of-type {
	height: 40px;
	width: 100px;
	margin: 5px auto 0;
	background-color: #222;
	color: #ddd;
}

.navs:last-of-type:hover {
	background-color: #444;
}

.nav7 {
	cursor: pointer;
}

#nome_usuario {
	text-transform: capitalize;
}
