.nav2 {
	background-color: #d3b04d;
}

/* MONITORAMENTO POR HORA */

.main-container {
	color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	width: 70%;
	height: 100vh;
}

.cards-grupos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(187, 187, 187, 0.753);
	width: 310px;
	border-radius: 10px;
	height: 180px;
	box-shadow: 0 0 5px -1px black;
}

.cards h2 {
	border-bottom: 2px solid white;
	padding-bottom: 1px;
}

.cards h3 {
	font-size: 1.34rem;
}

.kpi-valores {
	font-size: 1.5rem;
	font-weight: 1000;
}
