* {
	--main-color: #002043;
	--secondary-color: #2ac28a;
	--terciary-color: #d3b04d;
	margin: 0;
}

body {
	min-height: 100vh;
	font-family: sans-serif;
	background: #161618;
	display: flex;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
}

/* HEADER */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 10px 0;
	font-family: "Fredoka", sans-serif;
	height: 100vh;
	width: 30%;
	font-size: 1.15rem;
	background: linear-gradient(to bottom, #002043, #002043e8);
	border-right: 4px solid #d3b04d;
}

.nome-empresa {
	color: #2ac28a;
	text-shadow: 1px 1px #d3b04d;
}

/* logo */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	background-color: var(--main-color);
}

.nome-empresa {
	padding-left: 10px;
	font-family: monospace;
	font-size: 2rem;
}

/* Usuario Container */

.usuario-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	margin: 40px 0;
}

.usuario-container b {
	font-weight: 1000;
	font-size: 1.25rem;
}

.usuario-container a {
	text-decoration: underline;
	text-underline-offset: 1px;
}

.usuario-container a:hover {
	color: #d3b04d;
	text-decoration: underline;
}

.usuario-container img {
	width: 100px;
	border-radius: 50%;
	border: 1px solid #2ac28a;
}

.usuario-nome {
	color: var(--secondary-color);
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	row-gap: 15px;
	padding: 0;
}

.navs {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2ac28a;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	color: #002043;
	font-size: 1.25rem;
	font-weight: 700;
	box-shadow: 0 3px 5px -2px #000;
	border: 3px solid #000;
	transition: all 0.1s;
}

.main-nav a:hover {
	box-shadow: none;
	color: white;
}

.nav4 {
	background-color: #d3b04d;
}

/* CADASTRO */

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	box-sizing: border-box;
	width: 70%;
	height: 100vh;
}

.cadastro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #2ac28a;
	background: url(../images/func.png) no-repeat;
	background-size: cover;
	height: 100vh;
}

.box {
	height: 95vh;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-direction: column;
}

.card_cadastro2 {
	display: flex;
}

.container {
	height: 73vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frase {
	color: white;
	font-size: x-large;
	list-style: none;
	margin-top: 80px;
}

.card_cadastro2 li {
	margin-bottom: 30px;
	list-style: none;
}

input::placeholder {
	color: #2ac28a;
}
.li_card {
	margin-top: 58px;
}

.card_cadastro2 ul h2 {
	margin-bottom: 30px;
}
li button {
	color: white;
	background-color: transparent;
	height: 50px;
	width: 150px;
	border-radius: 0 10px 0 10px;
	border: #2ac28a 1px solid;
	margin-left: 100px;
	cursor: pointer;
	transition: 1s ease;
}

.card_cadastro2 ul {
	width: 325px;
	text-decoration: white;
}
li input {
	width: 100%;
	height: 35px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	background-color: transparent;
	border-bottom: #2ac28a solid 1px;
	outline: none;
	color: white;
}

li input::placeholder {
	color: rgba(255, 255, 255, 0.648);
}

li input:focus {
	background-color: rgb(42, 194, 138, 0.3);
	border-bottom: #2ac28a solid 2px;
}

li input:hover {
	background-color: rgb(42, 194, 138, 0.3);
}

ul {
	color: white;
}

.feito {
	text-align: center;
	justify-content: center;
	color: white;
	margin-top: 40px;
}

.linha {
	width: 300px;
	border-bottom: 1px #2ac28a solid;
	margin-top: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ou {
	text-align: center;
	justify-content: center;
	color: white;
}
