* {
	--main-color: #002043;
	--secondary-color: #2ac28a;
	--terciary-color: #d3b04d;
	margin: 0;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: white;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-evenly;
	font-family: "Fredoka", sans-serif;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 999;
	height: 11vh;
	width: 100%;
	font-size: 1.15rem;
	padding: 0 30px;
	background-color: var(--main-color);
}

.nome-empresa {
	color: #2ac28a;
	text-shadow: 1px 1px #d3b04d;
}

.main-nav a:hover,
.login-nav a:hover {
	color: var(--terciary-color);
	text-decoration: underline;
}

/* logo */

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 50px;
	background-color: var(--main-color);
}

.nome-empresa {
	padding-left: 10px;
	font-family: monospace;
	font-size: 2rem;
}

/* nav */

.main-nav {
	display: flex;
	align-items: center;
}

.main-nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	column-gap: 40px;
}

.login-nav {
	display: flex;
	align-items: center;
}

.login-nav ul {
	display: flex;
	list-style-type: none;
	column-gap: 40px;
}

/* LOGIN */

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../images/banner-img.jpg) no-repeat;
	background-size: cover;
	height: 90vh;
}

.container {
	height: 90%;
}

.box {
	height: 100%;
	width: 500px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.card_login li {
	margin-bottom: 20px;
	list-style: none;
}

.card_login h2 {
	margin-bottom: 100px;
}
.entrar-btn {
	color: white;
	background-color: transparent;
	height: 50px;
	width: 150px;
	border-radius: 0 10px 0 10px;
	border: #2ac28a 1px solid;
	margin-left: 100px;
	padding: 16px 50px;
	font-size: 0.9rem;
	cursor: pointer;
	transition: 1s ease;
}

.entrar-btn:hover {
	background: #2ac28a;
}

.card_login ul {
	width: 325px;
	color: white;
	margin-right: 160px;
}
li input {
	width: 100%;
	height: 35px;
	border-radius: 10px 10px 10px 10px;
	border: none;
	background-color: transparent;
	border-bottom: #2ac28a solid 1px;
	outline: none;
}

.titulo {
	display: flex;
	justify-content: center;
	margin-left: 100px;
	font-size: 20px;
}

.titulo h2 {
	margin-bottom: 50px;
}

.input_margin {
	margin-bottom: 30px;
	color: white;
}
.input_margin::placeholder {
	color: rgb(171, 169, 169);
}

/* FOOTER */

.footer-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: linear-gradient(to right, #111, rgba(17, 17, 17, 0.95));
	height: 150px;
	color: white;
	font-size: 0.8rem;
}

.footer-links-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}

.footer-links-container ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	column-gap: 10px;
}

.footer-links-container ul li {
	border-right: 1px solid white;
	padding-right: 10px;
}

.footer-links-container ul li:last-child {
	border-right: none;
}

.footer-endereco-container {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.redes-sociais {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
}

.icons-container {
	display: flex;
	justify-content: space-between;
	column-gap: 25px;
}

.redes-sociais i {
	font-size: 1.8rem;
}
